
*.svn
*.user
*.suo

/FireWorkflow.Net/bin
/FireWorkflow.Net/obj
/FireWorkflow.Net.Persistence.OracleDAL/bin
/FireWorkflow.Net.Persistence.OracleDAL/obj
/FireWorkflow.Net.Persistence.SqlServerDAL/bin
/FireWorkflow.Net.Persistence.SqlServerDAL/obj
/Web/bin
/Web/obj
/FireWorkflow.Net.vsmdi
/Local.testsettings
/TraceAndTestImpact.testsettings
/document
/DLL/Spring.net
/DLL/Coolite.Ext
/DLL/Ext.net

/DomCache