
*.svn
*.user
*.suo
/FireWorkflow.Net/bin
/FireWorkflow.Net/obj
/FireWorkflow.Net.Persistence.OracleDAL/bin
/FireWorkflow.Net.Persistence.OracleDAL/obj
/FireWorkflow.Net.Persistence.SqlServerDAL/bin
/FireWorkflow.Net.Persistence.SqlServerDAL/obj
/Web/bin
/Web/obj
/FireWorkflow.Net.vsmdi
/Local.testsettings
/TraceAndTestImpact.testsettings
/document
/DLL/Spring.net
/DLL/Coolite.Ext
/DLL/Ext.net
/DomCache
/FireWorkflow.Net/FireWorkflow.Net.PartCover.Settings
/DLL/NHibernate
/FireWorkflow.Net.Persistence.NHibernateDAL/bin
/FireWorkflow.Net.Persistence.NHibernateDAL/obj
/DLL/DomCache
/FireWorkflow.Net/FireWorkflow.Net.pidb
/FireWorkflow.Net/FireWorkflow.Net4.PartCover.Settings
/FireWorkflow.Net/FireWorkflow.Net4.pidb
/FireWorkflow.Net/Settings.SourceAnalysis
/FireWorkflow.Net.Persistence.OracleDAL/Settings.SourceAnalysis
/FireWorkflow.Net.Persistence.SqlServerDAL/Settings.SourceAnalysis
/Web/Settings.SourceAnalysis
/FireWorkflow.Net4.userprefs
